<div class="container">
  <div class="row">
    <h1>Free your instincts, Make your wildest dreams come true</h1>

    <%= render 'form', cocktail: @cocktail %>
    <br>
    <%= link_to 'Back', cocktails_path, class:'btn btn-lg btn-warning' %>
  </div>
</div>
