<div class="container">
  <div class="row">
    <h1>How much of this poison would make you happy?</h1>

    <%= render 'form', dose: @dose %>
    <br>
    <%= link_to 'all set!', cocktails_path, class:'btn btn-lg btn-warning' %>
  </div>
</div>
